*{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

*::before,
*::after{
	box-sizing: border-box;
}

/* CSS for pre loading starts here */
.svgLoding{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #033046;
    z-index: 15;
    animation: fadeout 5s linear forwards;
}

.svgLoding .loading{
    height: 100px;
    width: 100px
}

.loading rect{
    width: 100px;
    height: 100px;
    fill: none;
    stroke: #00adff;
    stroke-width: 100px;
    stroke-dasharray: 100px;
    stroke-dashoffset: 50%;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    to{
        stroke-dashoffset: 250%;
    }
}

@keyframes fadeout{
    0%, 91%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

/* CSS for pre loading ends here */

/* CSS for responsive nav starts here */
.header{
    height: 100px;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
}

.logo{
    line-height: 100px;
    float: left;
    text-transform: uppercase;
}

.menu{
    float: right;
    line-height: 100px;
}

.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.show-menu-btn, .hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn{
    float: right;
}

.show-menu-btn i{
    line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #3498db;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

/* Media query for responsive nav bar */
@media screen and (max-width: 991px){
    .show-menu-btn, .hide-menu-btn{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }

    .menu a{
        display: block;
        padding: 20px;
    }

    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #chk:checked ~.menu{
        right: 0;
    }
}
/* CSS for responsive nav ends here */

/* CSS for birds animation starts here */
h1{
	font-family: 'Arima Madurai', cursive;
	color: #333;
	font-size: 4rem;
	letter-spacing: -3px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
	position: relative;
	z-index: 3;
}

.container{
	z-index: -999;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-image: linear-gradient(to bottom, rgba(255, 168, 76, 0.6) 0%, rgba(255, 123, 13, 0.6) 100%), url('../img/bird-animation-background.jpg');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	padding: 2rem;
}

.bird{
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
}

.bird--one{
	animation-duration: 1s;
	animation-delay: -0.5s;
}

.bird--two{
	animation-duration: 0.9s;
	animation-delay: -0.75s;
}

.bird--three{
	animation-duration: 1.25s;
	animation-delay: -0.25s;
}

.bird--four{
	animation-duration: 1.1s;
	animation-delay: -0.5s;
}

.bird-container{
	position:absolute;
	top: 20%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.bird-container--one{
	animation-duration: 15s;
	animation-delay: 0;
}

.bird-container--two{
	animation-duration: 16s;
	animation-delay: 1s;
}

.bird-container--three{
	animation-duration: 14.6s;
	animation-delay: 9.5s;
}

.bird-container--four{
	animation-duration: 16s;
	animation-delay: 10.25s;
}

@keyframes fly-cycle{
	
	100%{
        background-position: -900px 0;
	}
	
}

@keyframes fly-right-one{
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

/* CSS for bird animation ends here */

/* CSS for moving car starts here */
.moving-background{
    position: relative;
    background: #00fdff url(../img/moving-background.png);
    height: 100vh;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animate 12s linear infinite;
}

.car{
    position: absolute;
    bottom: 40px;
    left: 0;
}


@keyframes animate{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}

/* CSS for moving car ends here */

/* CSS for raining starts here */
.raining{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../img/test.jpg);
    background-size: cover;
}

.rain{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/rain.png);
    animation: rain 0.3s linear infinite;
}

.rain:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: lighting 4s linear infinite;
    opacity: 0;
}

@keyframes lighting{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    26%{
        opacity: 0;
    }
    35%{
        opacity: 0;
    }
    36%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
    
}

@keyframes rain{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 20% 80%;
    }
}

/* CSS for rain ends here */

/* CSS for chat starts hers */
.main {
    height: 400px;
    width: 400px;
    position: relative;
    
    margin: 0 auto; 
    position: relative;
}
.main .stand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    height: 20px;
    width: 200px;
    border-radius: 20px;
    background-color: #4b3536;
    z-index: 2;
}
.main .stand::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    height: 10px;
    width: 50px;
    border-radius: 20px;
    background-color: #272410;
    box-shadow: 0 10px 0 #272410, 0 20px 0 #272410, 0 30px 0 #272410, 0 40px 0 #272410, 0 50px 0 #272410, 0 60px 0 #272410, 0 70px 0 #272410, 0 80px 0 #272410, 0 90px 0 #272410, 0 100px 0 #272410, 0 110px 0 #272410, 0 120px 0 #272410, 0 130px 0 #272410, 0 140px 0 #272410, 0 150px 0 #272410, 0 160px 0 #272410, 0 170px 0 #272410;
}
.main .cat {
    width: 110px;
    height: 50px;
    position: absolute;
    top: calc(50% - 50px);
    right: 130px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.main .cat .body {
    width: 110px;
    height: 50px;
    background-color: #745260;
    position: absolute;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    animation: body 12s none infinite;
}
.main .cat .head {
    content: "";
    width: 70px;
    height: 35px;
    background-color: #745260;
    position: absolute;
    top: calc(50% - 10px);
    left: -40px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
.tail-container {
    position: absolute;
    right: 0;
    bottom: -13px;
    z-index: 3;
}
.tail {
    position: absolute;
    height: 30px;
    width: 14px;
    bottom: -10px;
    right: 0;
    border-bottom-right-radius: 5px;
    background: #745260;
    z-index: 0;
}
.tail > .tail {
    animation: tail 12s none infinite;
    height: 100%;
    width: 14px;
    transform-origin: left;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-right-radius: 40px;
}
.ear {
    position: absolute;
    left: 4px;
    top: -4px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid #745260;
    transform: rotate(-30deg);
    animation: left-ear 12s both infinite;
}
.ear + .ear {
    animation: right-ear 12s both infinite;
    top: -12px;
    left: 30px;
}
.nose {
    position: absolute;
    bottom: 10px;
    left: -10px;
    background-color: #fd6e72;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}
.whisker-container {
    position: absolute;
    bottom: 5px;
    left: -36px;
    width: 20px;
    height: 10px;
    transform-origin: right;
    animation: left-whisker 12s both infinite;
}
.whisker-container:nth-child(2) {
    left: -20px;
    bottom: 12px;
    transform-origin: right;
    transform: rotate(180deg);
    animation: right-whisker 12s both infinite;
}
.whisker {
    position: absolute;
    top: 0;
    width: 100%;
    border: 1px solid #fdf9de;
    transform-origin: 100% 0;
    transform: rotate(10deg);
}
.whisker:last-child {
    top: 0;
    transform: rotate(-20deg);
}

@keyframes tail {
    0% {
        transform: rotate(0);
   }
    10% {
        transform: rotate(10deg);
   }
    20% {
        transform: rotate(-5deg);
   }
    30% {
        transform: rotate(30deg);
   }
    40% {
        transform: rotate(-2deg);
   }
    70% {
        transform: rotate(10deg);
   }
    80% {
        transform: rotate(-5deg);
   }
    100% {
        transform: rotate(10deg);
   }
}
@keyframes body {
    10% {
        transform: scaleY(1);
   }
    20% {
        transform: scaleY(1.15);
   }
    30% {
        transform: scaleY(1);
   }
    40% {
        transform: scaleY(1.25);
   }
    70% {
        transform: scaleY(1);
   }
    80% {
        transform: scaleY(1.15);
   }
    100% {
        transform: scaleY(1);
   }
    0% {
        transform: scaleY(1.15);
   }
}
@keyframes left-whisker {
    10% {
        transform: rotate(0);
   }
    20% {
        transform: rotate(0deg);
   }
    30% {
        transform: rotate(-5deg);
   }
    40% {
        transform: rotate(0deg);
   }
    70% {
        transform: rotate(0deg);
   }
    80% {
        transform: rotate(10deg);
   }
    100% {
        transform: rotate(-5deg);
   }
    0% {
        transform: rotate(10deg);
   }
}
@keyframes right-whisker {
    10% {
        transform: rotate(180deg);
   }
    20% {
        transform: rotate(190deg);
   }
    30% {
        transform: rotate(180deg);
   }
    40% {
        transform: rotate(175deg);
   }
    60% {
        transform: rotate(190deg);
   }
    70% {
        transform: rotate(180deg);
   }
    80% {
        transform: rotate(185deg);
   }
    100% {
        transform: rotate(175deg);
   }
}
@keyframes left-ear {
    10% {
        transform: rotate(-20deg);
   }
    20% {
        transform: rotate(-6deg);
   }
    30% {
        transform: rotate(-15deg);
   }
    40% {
        transform: rotate(-15deg);
   }
    50% {
        transform: rotate(-30deg);
   }
    60% {
        transform: rotate(-30deg);
   }
    70% {
        transform: rotate(0deg);
   }
    80% {
        transform: rotate(0deg);
   }
    85% {
        transform: rotate(-15deg);
   }
    90% {
        transform: rotate(-15deg);
   }
    95% {
        transform: rotate(-6deg);
   }
    100% {
        transform: rotateZ(-6deg);
   }
}
@keyframes right-ear {
    
    5% {
        transform: rotateZ(-19deg);
   }
    10% {
        transform: rotateZ(-19deg);
   }
    15% {
        transform: rotateZ(-30deg);
   }
    20% {
        transform: rotateZ(-19deg);
   }
    25% {
        transform: rotateZ(-30deg);
   }
    30% {
        transform: rotateZ(-19deg);
   }
    35% {
        transform: rotateZ(-19deg);
   }
    40% {
        transform: rotateZ(-30deg);
   }
    45% {
        transform: rotateZ(-19deg);
   }
    50% {
        transform: rotateZ(-9deg);
   }
    55% {
        transform: rotateZ(-9deg);
   }
    60% {
        transform: rotateZ(-19deg);
   }
    65% {
        transform: rotateZ(-30deg);
   }
    70% {
        transform: rotateZ(-19deg);
   }
    75% {
        transform: rotateZ(-19deg);
   }
    80% {
        transform: rotateZ(-30deg);
   }
    85% {
        transform: rotateZ(-19deg);
   }
    90% {
        transform: rotateZ(-19deg);
   }
    95% {
        transform: rotateZ(-16deg);
   }
    100% {
        transform: rotateZ(-16deg);
   }
}

/* CSS for cat ends here */